<%- include("partials/header") %>

<div class="flex-grow-1 container py-4">

    <div class="row align-items-start g-5">

        <!-- ----- left side ----- -->
        <div class="col-lg-4">

            <!-- Coin Name, Sybbol, Rank -->
            <div class="pb-3">
                    <img src="<%= coin.image %>" class="img-fluid" 
                    style="max-width: 32px;" alt="coin logo">
                    <span class="fw-medium"><%= coin.name %></span>      
                    <span class="text-muted "><%= coin.symbol.toUpperCase() %></span>
                    <span class="text-muted bg-body-secondary rounded px-1">#<%= coin.market_cap_rank %></span>
            </div>

            <!-- Coin Price, % -->
            <div class="py-3 align-items-center"> 
                    <span class="fw-medium me-2 fs-2 align-middle"><%= currencySymbol %> <%= coin.current_price.toLocaleString() %></span>      
                    <%- include("partials/price-change-24", { page: true }) %>
                    <span class="align-baseline"><i class="bi bi-info-circle"></i></span>
            </div>


            <div class="container text-center my-3 px-0">
                <div class="row g-2">
                    
                    <div class="col-12">
                        <div class="p-3 border rounded text-wrap">
                            <p class="p-0 m-0 text-detail"> Market Cap <span><i class="bi bi-info-circle"></i></span></p>
                            <span class="fw-bolder"><%= currencySymbol %> <%= coin.market_cap.toLocaleString() %></span>      
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="p-3 border rounded text-wrap">
                             <p class="p-0 m-0 text-detail">Volume (24h) <span><i class="bi bi-info-circle"></i></span></p>
                            <span class="fw-bolder"><%= currencySymbol %> <%= coin.total_volume.toLocaleString() %></span>  
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="p-3 border rounded text-wrap">
                            <p class="p-0 m-0 text-detail"> $FDV$ <span><i class="bi bi-info-circle"></i></span></p>
                            <span class="fw-bolder"><%= currencySymbol %> <%= coin.market_cap.toLocaleString() %></span>      
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="p-3 border rounded text-wrap">
                             <p class="p-0 m-0 text-detail">$Vol.Mkt Cap (24h)$<span><i class="bi bi-info-circle"></i></span></p>
                            <span class="fw-bolder"><%= currencySymbol %> <%= coin.total_volume.toLocaleString() %></span>  
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="p-3 border rounded text-wrap">
                            <p class="p-0 m-0 text-detail"> $Total Supply$ <span><i class="bi bi-info-circle"></i></span></p>
                            <span class="fw-bolder"><%= currencySymbol %> <%= coin.market_cap.toLocaleString() %></span>      
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="p-3 border rounded text-wrap">
                             <p class="p-0 m-0 text-detail">$Max supply$<span><i class="bi bi-info-circle"></i></span></p>
                            <span class="fw-bolder"><%= currencySymbol %> <%= coin.total_volume.toLocaleString() %></span>  
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="p-3 border rounded text-wrap">
                            <p class="p-0 m-0 text-detail"> $Circulating supply$ <span><i class="bi bi-info-circle"></i></span></p>
                            <span class="fw-bolder"><%= currencySymbol %> <%= coin.market_cap.toLocaleString() %></span>      
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="p-2 border rounded text-wrap bg-light">
                            <div class="row justify-content-between g-2">
                                <div class="col-4">
                                    <div class="p-0 m-0 text-detail text-start">Profile score <span><i class="bi bi-info-circle"></i></span></div>
                                </div>

                                <div class="col-4">
                                    <div class="p-0 m-0 text-detail text-end">--- 100%</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            


            

        </div>

        <!-- ----- main ----- -->

        <div class="col-md-8">

            <!-- Navigation Tab -->
            <div class="nav-scroller p-1 border">
                <nav class="nav nav-underline g-2">
                    <a class=" btn btn-primary nav-link-top" href="#">Overview</a>
                    <a class=" btn btn-primary nav-link-top" href="#">Markets</a>
                    <a class=" btn btn-primary nav-link-top" href="#">News</a>
                    <a class=" btn btn-primary nav-link-top" href="#">Historical Data</a>
                    <a class=" btn btn-primary nav-link-top" href="#">About</a>
                </nav>
            </div>

            <!-- Chart Navigation Tab -->
            <div class="nav-scroller p-1 my-3">

                <div class="btn-toolbar " role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group me-2" role="group" aria-label="First group">
                        <button type="button" class="btn btn-primary">Price</button>
                        <button type="button" class="btn btn-primary">Market Cap</button>

                    </div>
                    <div class="btn-group me-2" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-secondary"><i class="bi bi-graph-up"></i></button>
                        <button type="button" class="btn btn-secondary"><i class="bi bi-bar-chart"></i></button>
                    </div>

                    <div class="btn-group me-2" role="group" aria-label="First group">
                        <button type="button" class="btn btn-primary">1D</button>
                        <button type="button" class="btn btn-primary">7D</button>
                        <button type="button" class="btn btn-primary">1M</button>
                        <button type="button" class="btn btn-primary">1Y</button>
                        <button type="button" class="btn btn-primary">All</button>
                    </div>
                    <div class="btn-group justify-content-end" role="group" aria-label="Third group">
                        <button type="button" class="btn btn-info"><i class="bi bi-arrows-angle-expand"></i></button>
                    </div>
                </div>
            </div>

            <div class="position-sticky">

                <article class="blog-post">
                    <h2 class="display-5 link-body-emphasis mb-1">New feature</h2>
                    <p class="blog-post-meta">December 14, 2020 by <a href="#">Chris</a></p>
                    <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
                </article>

            </div>

            <div>
                <canvas id="sparkline-<%= coin.id %>" width="800" height="500"></canvas>
            </div>
        </div>
    </div>
</div>

<%- include("partials/coin-sparkline") %>

<%- include("partials/footer") %>