<%- include("partials/header") %>

<div class="flex-grow-1 container py-4">

    <div class="row align-items-start g-5">

        <div class="col-md-4">

            <div class="pb-3">
                    <img src="<%= coin.image %>" class="img-fluid" 
                    style="max-width: 32px;" alt="coin logo">
                    <span class="fw-medium"><%= coin.name %></span>      
                    <span class="text-muted "><%= coin.symbol.toUpperCase() %></span>
                    <span class="text-muted bg-body-secondary rounded px-1">#<%= coin.market_cap_rank %></span>
            </div>

            
            <div class="py-3 align-items-center border rounded"> 
                    <span class="fw-medium me-2 fs-2 align-middle"><%= currencySymbol %> <%= coin.current_price.toLocaleString() %></span>      
                    <%- include("partials/price-change-24", { page: true }) %>
                    <span class="align-baseline"><i class="bi bi-info-circle"></i></span>
            </div> 

         
            <div class="container my-3 py-3 text-center border rounded">
                <div class="col-6 p-2 border rounded">
                    <p class="p-0 m-0 fs-6">Market Cap <span><i class="bi bi-info-circle"></i></span></p>
                    <span class="fw-medium"><%= currencySymbol %> <%= coin.market_cap.toLocaleString() %></span>      
                </div>
                <div class="col-6 p-2 border rounded">
                    <p class="p-0 m-0 fs-6">Volume (24h) <span><i class="bi bi-info-circle"></i></span></p>
                    <span class="fw-medium"><%= currencySymbol %> <%= coin.total_volume.toLocaleString() %></span>  
                </div>

            </div>
  

            <div class="container text-center my-3 py-3 px-0 border rounded">
                <div class="row g-2">
                    <div class="col-6">
                        <div class="p-3 border rounded text-wrap  fs-6">
                            Custom column paddinggg rrhehe erhwghwhwr rhwhg
                           

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="p-3 border rounded">Custom column padding</div>
                    </div>
                    <div class="col-6">
                        <div class="p-3 border rounded">Custom column padding</div>
                    </div>
                    <div class="col-6">
                        <div class="p-3 border rounded">Custom column padding</div>
                    </div>
                </div>
            </div>



            <div class="py-3 border rounded"> 
                 






                
                <div class="py-3  border rounded">
                    <p>Hi</p>

                

                </div>


            </div>

            

        </div>

        <!-- ----- main ----- -->

        <div class="col-md-8">

            <!-- Navigation Tab -->
            <div class="nav-scroller py-1 mb-3 border-bottom">

                <nav class="nav nav-underline g-2">

                    <a class=" btn btn-primary" href="#">Overview</a>
                    <a class=" btn btn-primary" href="#">Markets</a>
                    <a class=" btn btn-primary" href="#">News</a>
                    <a class=" btn btn-primary" href="#">Historical Data</a>

                </nav>
            </div>
            <div class="position-sticky">

                <article class="blog-post">
                    <h2 class="display-5 link-body-emphasis mb-1">New feature</h2>
                    <p class="blog-post-meta">December 14, 2020 by <a href="#">Chris</a></p>
                    <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
                </article>

            </div>

            <div>
                <canvas id="sparkline-<%= coin.id %>" width="800" height="500"></canvas>
            </div>
        </div>
    </div>
</div>

<%- include("partials/coin-sparkline") %>

<%- include("partials/footer") %>