<%- include("partials/header") %>

<div class="flex-grow-1 container py-4">

    <div class="px-4 pt-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">track & thrive</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
            Welcome to the world's largest cryptocurrency marketplace.
            </p>
        </div>
        
        <div class="col-lg-6 mx-auto search-container mb-3">
            <!-- <form method="GET" action="/"> -->
                
                <input type="search" class="form-control search-input" id="search" placeholder="Search coin by name...">
                <i class="bi bi-search search-icon"></i>
                <ul id="search-results" class="list-group position-absolute w-100 z-3"></ul>
                
            <!-- </form> -->
            
        </div>
        
    </div>

    <div class="py-5 g-3 ">

        <div class="col-lg-8 mx-auto text-center">
            <p class="lead">
                Cryptocurrency rankings by market cap, trading volume, 
                and percentage change for the last 24 hours, 7 days, 30 days, and year to date.
            </p>
        </div>

        <% if (!errorFetching) { %>



            <div class="container">
                <ul class="nav nav-pills g-2 justify-content-end">
                    <%- include("partials/currency") %>
                
                    <li class="nav-item">
                        <form method="GET" action="/" class="mb-3 text-end">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                    Show <%= perPage %>
                                </button>
                                <ul class="dropdown-menu">
                                    <% [25, 50, 100, 200].forEach(limit => { %>
                                        <li>
                                            <button type="submit" name="perPage" value="<%= limit %>" class="dropdown-item">
                                                Show <%= limit %>
                                            </button>
                                        </li>                  
                                    <% }); %>
                                </ul>
                            </div>
                            <input type="hidden" name="page" value="<%= currentPage %>">
                            <input type="hidden" name="currency" value="<%= selectedCurrency %>">
                        </form>
                    </li>
                </ul>

            </div>


            <div class="container">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover align-middle mb-0 w-auto">
                        <thead class="sticky-top bg-white header-shadow" style="z-index: 1">
                            <tr class="align-middle">
                                <th scope="col" class="text-start">#</th>
                                <th scope="col" class="text-start">Coin</th>
                                <th scope="col" class="text-end" width="10%">Price</th>
                                <th scope="col" class="text-end" width="10%">24h %</th>
                                <th scope="col" class="text-end" width="15%">24h Volume</th>
                                <th scope="col" class="text-end">Market Cap</th>
                                <th scope="col" class="text-end">Last 7 Days</th>
                            </tr>
                        </thead>
                        <tbody class="">
                            <% coins.forEach(coin => { %>
                                <tr class="border-bottom coin-row">
                                    <td class=" py-3 text-start text-nowrap"><%= coin.market_cap_rank %></td>

                                    <td class="py-3"> 
                                        <a href="/coins/<%= coin.id %>" class="d-flex align-items-center gap-2 text-decoration-none text-dark w-100 h-100">
                                            <img src="<%= coin.image %>" class="img-fluid" 
                                                style="max-width: 32px;" alt="coin logo">
                                            <span class="fw-medium"><%= coin.name %></span>      
                                            <span class="text-muted"><%= coin.symbol.toUpperCase() %></span>
                                        </a>
                                    </td>

                                    <td class="py-3 text-end text-nowrap">$ <%= coin.current_price.toLocaleString() %></td>

                                    <td class="py-3 text-end text-nowrap">
                                        <% if (coin.price_change_percentage_24h !== null && !isNaN(coin.price_change_percentage_24h)) { %>
                                            <%= coin.price_change_percentage_24h.toLocaleString() %> %
                                        <% } else { %>
                                            N/A
                                        <% } %>
                                    </td>

                                    <td class="py-3 text-end text-nowrap">
                                        <% if (coin.total_volume !== null && !isNaN(coin.total_volume)) { %>
                                            $ <%= coin.total_volume.toLocaleString() %>
                                        <% } else { %>
                                            N/A
                                        <% } %>
                                    </td>
                                    <td class="py-3 text-end text-nowrap">$ <%= coin.market_cap.toLocaleString() %></td>

                                    
                                    <td class="py-3 text-end">
                                        <canvas id="sparkline-<%= coin.id %>" width="100" height="20"></canvas>
                                    </td>
                                </tr>       
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
    

            <div class="pt-5">
                <nav aria-label="Page navigation">
                    <ul class="pagination d-flex justify-content-center">
                        <% if (currentPage > 1) { %>
                            <li class="page-item">
                                <a class="page-link" href="/?page=<%= currentPage - 1 %>&perPage=<%= perPage %>&currency=<%= selectedCurrency %>">Previous</a>
                            </li>
                        <% } %>

                        <% if (currentPage >= 1) { %>
                            <li class="page-item <%= currentPage === 1 ? "active" : "" %>">
                                <a class="page-link" href="/?page=1&perPage=<%= perPage %>&currency=<%= selectedCurrency %>">1</a>
                            </li>
                        <% } %>

                        <% if (currentPage > 4) { %>
                            <li class="page-item disabled"><span class="page-link">...</span></li>
                        <% } %>

                        <% for (let i = currentPage - 2; i <= currentPage +2; i++ ) { %>
                            <% if (i > 1 && i < totalPages) {%>
                                <li class="page-item <%= i === currentPage ? "active" : "" %>">
                                    <a class="page-link" href="/?page=<%= i %>&perPage=<%= perPage %>&currency=<%= selectedCurrency %>"><%= i %></a>
                                </li>
                        <% }} %>

                        <% if (currentPage < totalPages - 3) { %>
                            <li class="page-item disabled"><span class="page-link">...</span></li>
                        <% } %>

                        <% if (currentPage <= totalPages) { %>
                            <li class="page-item <%= currentPage === totalPages ? "active" : "" %>">
                                <a class="page-link" href="/?page=<%= totalPages %>&perPage=<%= perPage %>&currency=<%= selectedCurrency %>"><%= totalPages %></a>
                            </li>
                        <% } %>

                        <% if (currentPage < totalPages ) { %>
                            <li class="page-item">
                                <a class="page-link" href="/?page=<%= currentPage + 1 %>&perPage=<%= perPage %>&currency=<%= selectedCurrency %>">Next</a>
                            </li>
                        <% } %>
                    </ul>
                </nav>
            </div>

        <% } else { %>
            <div class="p-4 text-center">
                <h1 class="display-5 fw-bold text-body-emphasis">
                    Couldn't load coin list. Try again later...
                </h1>
            </div>
        <% } %>

    </div>
</div>

<script src="/public/js/search.js"></script>

<%- include("partials/footer") %>
